body, html {
    height: 100%;
    margin: 0;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 1200px;
    height: 750px;
    margin: 20px auto;
    
}

.player1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 120px;
    height: 120px;
    background-image: url('https://i.etsystatic.com/16581340/r/il/fbb2d9/1423191149/il_1588xN.1423191149_2ygc.jpg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    z-index: 2;
    justify-self: center;
    align-self: center;
}

.player2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 120px;
    height: 120px;
    background-image: url('https://d3gqasl9vmjfd8.cloudfront.net/0b2aa3ba-f820-4ed0-8969-281d5dbf7507.png');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    z-index: 2;
    background-position: top right;
    justify-self: center;
    align-self: center;
}

.greenShell {
    background-image: url('https://www.mariowiki.com/images/9/94/GreenShell_-_MarioPartyStarRush.png');
    background-size: cover;
}

.gameInfo {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 5;
    border: 1px solid black;
    text-align: center;
    position: relative;
}

.buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

button {
   margin-top: 25px;
   margin-bottom: 25px;
   visibility: hidden;
   display: inline-block;
}

.inventory {
    text-align: center;
}

.DKinventory {
    text-align: center;
}

.items {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    display: inline-block;
}

.DKitems {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    display: inline-block;
}

.dice {
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 45px;    
}

#player1Info {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 1px solid black;
}

#player2Info {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 1px solid black;
}

.space {
    height: 148px;
    width: 148px;
    border: 1px solid black;
    margin: 1px;
}

#a1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    align-self: center;
    z-index: 0;
}

#a2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    align-self: center;
}

#a3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    align-self: center;
}

#a4 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    align-self: center;
}

#a5 {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    align-self: center;
}

#b6 {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
}

#b7 {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
}

#b8 {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
}

#b9 {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
    justify-self: center;
    align-self: center;
}

#c10 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
    justify-self: center;
    align-self: center;
}

#c11 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    justify-self: center;
    align-self: center;

}

#c12 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    justify-self: center;
    align-self: center;
}

#c13 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    justify-self: center;
    align-self: center;
}

#c14 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
}

#c15 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
}

#c16 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
}

.plusMoney {
    background-color: blue;
}

.minusMoney {
    background-color: red;
}

.star {
    background-color: gold;
}

.store {
    background-color: green;
}
